<div class="text-center mt-5">

    <h1>Manish Solanki</h1>

    <h3>ASP.NET Core Full Stack Developer</h3>

    <p>
        Welcome to my portfolio website.
    </p>
    <h3 style="background:red">Thanks for visit</h3>
    <h3 style="background:red">Thanks for visit</h3>
    <h3>Ms</h3>
</div>