<h2>Projects</h2>

<div class="card p-3 mb-3">
    <h4>Student Management System</h4>
    <p>ASP.NET Core MVC + SQL Server</p>
</div>

<div class="card p-3 mb-3">
    <h4>Product Management System</h4>
    <p>CRUD Operations Using EF Core</p>
</div>